<!-- Footer -->
<footer>
 <div class="container">
  <div class="row">
    <div class="col footer1">
      <h1>Papaya Food Court</h1>
      <p>Papaya Food Court has more than 32 years old history and
           always want to provide the best cuisine to its customers. Why
           Papaya Food Court? Because you deserved the best!</p>

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="col footer2 bulletpoint">
      <ul>
            <li class="header">Stores</li>
            <li><a href="">Cusines</a></li>
            <li><a href="">Beverages</a></li>
            <li><a href="">Halal Cusines</a></li>
        </ul>
    </div>
    <div class="col footer3 bulletpoint">
      <ul>
            <li class="header">Help</li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </div>
    <div class="col footer4 bulletpoint">
      <ul>
            <li class="header">Shopping Cart</li>
            <li><a href="">Shopping Cart</a></li>
            <li><a href="">Review</a></li>
            <li><a href="">Issue Update</a></li>
        </ul>
    </div>
  </div>
</div>
</footer>
