<!-- Footer -->
<footer>
 <div class="container">
  <div class="row">
    <div class="col footer1">
      <h1>Papaya Food Court</h1>
      <p>Papaya Food Court has more than 32 years old history and
           always want to provide the best cuisine to its customers. Why
           Papaya Food Court? Because you deserved the best!</p>
    </div>
    <div class="col footer2 bulletpoint">
      <ul>
            <li class="header">Mission</li>
            <li>To connect with our customers and ensure efficiency in delivering food </li>
        </ul>
    </div>
  </div>
 </div>
</footer>
