<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% block navbar %}
        {% if current_user.is_authenticated %} 

            {% if current_user.get_account_type() == "Staff" %}
                    {% include 'includes/NavBar_staff.html' %}
            {% elif current_user.get_account_type() == "Admin" %}
                    {% include 'includes/NavBar_admin.html' %}
            {% elif current_user.get_account_type() == "Customer" %}
                    {% include 'includes/NavBar_customer.html' %}
            {% endif %}

        {% else %}
            {% include 'includes/NavBar.html' %}
        {% endif %}

    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, msg in messages %}
                    <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
                        {{msg}}
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %} 

    <div class="container_fluid">
        {%block content%}
        {%endblock%}
    </div>

    {% block footer %}
        {% if current_user.is_authenticated %}

            {% if current_user.get_account_type() == "Staff" %}
                    {% include 'includes/StaffFooter.html' %}
            {% elif current_user.get_account_type() == "Admin" %}
                    {% include 'includes/StaffFooter.html' %}
            {% elif current_user.get_account_type() == "Customer" %}
                    {% include 'includes/Footer.html' %}
            {% endif %}

        {% else %}
            {% include 'includes/Footer.html' %}
        {% endif %}





    {% endblock %}



    <!--Bootstrap JS-->
    {%block scripts%}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%endblock%}

</body>
</html>
