<div class="BackgroundImages">

              </div>
                <div class="WhiteSpace">
                  <h1>Why Papaya Food Court? Because you deserved the Best!</h1>
                  <a href="#" class="button">View More</a>
                </div>
              <!--What's hot header-->
              <div class="carouselHeader">
                <h1>What's Hot</h1>
              </div>
              <!--Carousel-->
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2500">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href=""><img class="d-block w-100" src="/static/Images/Background/Nasi Lemak.jpg" alt="First slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Ah Mak's Nasi Lemak</h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item ">
                    <a href=""><img class="d-block w-100" src="static/Images/Background/Macaron.jpg" alt="Second slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Ron's Macaron</h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href=""><img class="d-block w-100" src="static/Images/Background/Toast.jpg" alt="Third slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Toast</h5>
                      <p></p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <br>
              <br>
