{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/NavFooter.css') }}">
{% if current_user.is_authenticated %}

    {% if current_user.get_account_type() == "Staff" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/staff.css') }}">
    {% elif current_user.get_account_type() == "Admin" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
    {% elif current_user.get_account_type() == "Customer" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
    {% endif %}
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
{% endif %}
{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<br>
<h2 class="text-center">Sign Up to PAPAYA Food Court</h2>
<p class="text-center">Enjoy exclusive discounts and delicious food in the comfort of your home!</p>
<form action="" method="post">
      {{ form.csrf_token }}
   <div class="auth-form">
      <div class="form-group row">
            {{ form.email_address.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
                  {{ form.email_address(class_="form-control") }}
                  {% for error in form.email_address.errors %}
                        <span class="text-danger">{{ error }}</span>
                  {% endfor %}
            </div>
      </div>
      <div class="form-group row inputs">
            {{ form.username.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
                  {{ form.username(class_="form-control")}}
                  {% for error in form.username.errors %}
                        <span class="text-danger">{{ error }}</span>
                  {% endfor %}
            </div>
      </div>
      <div class="form-group row inputs">
            {{ form.password.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
                  {{ form.password(class_="form-control") }}
                  {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                <br>
                <small>A secure password should contain:
                    <ul>
                        <li>At least 8 characters long</li>
                        <li>At least one uppercase</li>
                        <li>At least one lowercase</li>
                        <li>At least one number</li>
                        <li>Not more than 2 consecutive identical characters</li>
                    </ul>
                </small>
            </div>
      </div>
      <div class="form-group row inputs">
            {{ form.confirm_password.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
                  {{ form.confirm_password(class_="form-control") }}
                  {% for error in form.confirm_password.errors %}
                        <span class="text-danger">{{ error }}</span>
                  {% endfor %}
            </div>
      </div>
      <button type="submit" class="btn btn-papaya">Create Account</button>
   </div>
</form>

{% endblock %}
