{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/NavFooter.css') }}">
{% if current_user.is_authenticated %}

    {% if current_user.get_account_type() == "Staff" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/staff.css') }}">
    {% elif current_user.get_account_type() == "Admin" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
    {% elif current_user.get_account_type() == "Customer" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
    {% endif %}
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
{% endif %}
{% endblock %}
{% block content %}
<form action="" method="post">
{{ form.csrf_token }}
<div class="auth-form">
    <h4 class="text-decoration-underline text-center">Reset Password</h4>    
    <div class="form-group row">
        {{ form.email_address.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {{ form.email_address(class_="form-control")}}
            {% for errors in form.email_address.errors  %}
                <span class="text-danger">{{ errors }}</span>
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-papaya">Submit</button>
</div>
</form>
{% endblock %}
