{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/NavFooter.css') }}">
{% if current_user.is_authenticated %}

    {% if current_user.get_account_type() == "Staff" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/staff.css') }}">
    {% elif current_user.get_account_type() == "Admin" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
    {% elif current_user.get_account_type() == "Customer" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
    {% endif %}
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
{% endif %}
{% endblock %}
{% block content %}
<form action="" method="post">
{{ form.csrf_token }}
<div class="auth-form">
    <h4 class="text-decoration-underline text-center">Reset Password</h4>    
    <div class="form-group row">
        {{ form.password.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {{ form.password(class_="form-control") }}
            {% for errors in form.password.errors  %}
                <span class="text-danger">{{ errors }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group row inputs">
        {{ form.confirm_password.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
        {{ form.confirm_password(class_="form-control") }}     
        {% for errors in form.confirm_password.errors  %}
            <span class="text-danger">{{ errors }}</span>
        {% endfor %}
        </div>
        <div>
            &nbsp;
            <h4>Strong Password Guidelines</h4>
            <ul>
                <li>Be at least 8 characters in length</li>
                <li>Contain both upper and lowercase alphabetic characters (e.g. A-Z, a-z)</li>
                <li>Have at least one numerical character (e.g. 0-9)</li>
                <li>Have at least one special character (e.g. ~!@#$%^&*()_-+=)</li>
            </ul>
            <h4>Strong Password Tips</h4>
            <ul>
                <li>Do not spell a word or series of words that can be found in a standard dictionary</li>
                <li>Do not spell a word with a number added to the beginning and the end</li>
                <li>Do not be based on any personal information </li>
            </ul>

        </div>
    </div>
    <button type="submit" class="btn btn-papaya">Submit</button>
</div>
</form>
{% endblock %}
